{% extends "base.html" %}
{% block title %}contect{% endblock title %}
{% block stylesheet %} 
    {% load static %}
    <link rel="stylesheet" href="{%static '1.css'%}">
    {% endblock stylesheet %}

{% block body %}

<div class="container my-3">
  <h1 class="my-4 text-center">List of private counselor</H1>

  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\saurabh.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Saurabh Kumar, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-muted">55/min</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\aditya.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Aditya Raj, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-muted">50/min</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\a.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Aishwariya Mandal, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-muted">80/min</small>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3"></div>

    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\amar_mahto.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Mayank Raj, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-mutedy">34/min</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\sonu.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Amar Mahato, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-muted">15/min</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img src="\static\man.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is Sayon Kumar, and I possess a decade of experience as a private counselor, during which I have provided treatment to numerous students grappling with mental health issues..</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-outline-success">Chat</button>
              <button type="button" class="btn btn-outline-danger">Call</button>
            </div>
            <small class="text-danger">FREE</small>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock body %}